In [81]:
import pandas as pd
import datetime 
from datetime import timedelta
empty_dict = {} 
another_dict = {} 
result = {}  
my_List = []

In [6]:
df = pd.read_csv('./test_data.csv') 
df.head()

        delivery_start            timestamp  wind forecast in MW
0  2018-12-20 00:00:00  2018-12-20 00:00:00                12815
1  2018-12-20 00:00:00  2018-12-19 23:45:00                12629
2  2018-12-20 00:00:00  2018-12-19 23:30:00                12546
3  2018-12-20 00:00:00  2018-12-19 23:15:00                12654
4  2018-12-20 00:00:00  2018-12-19 23:00:00                12741

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368927 entries, 0 to 368926
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   delivery_start       368927 non-null  object
 1   timestamp            368927 non-null  object
 2   wind forecast in MW  368927 non-null  int64
dtypes: int64(1), object(2)
memory usage: 8.4+ MB

In [8]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [9]:
df['timestamp'].dt.time

0         00:00:00
1         23:45:00
2         23:30:00
3         23:15:00
4         23:00:00
            ...
368922    01:15:00
368923    01:00:00
368924    00:45:00
368925    00:30:00
368926    00:15:00
Name: timestamp, Length: 368927, dtype: object

In [10]:
df.head()

        delivery_start           timestamp  wind forecast in MW
0  2018-12-20 00:00:00 2018-12-20 00:00:00                12815
1  2018-12-20 00:00:00 2018-12-19 23:45:00                12629
2  2018-12-20 00:00:00 2018-12-19 23:30:00                12546
3  2018-12-20 00:00:00 2018-12-19 23:15:00                12654
4  2018-12-20 00:00:00 2018-12-19 23:00:00                12741

In [11]:
df['timestamp'].dt.date

0         2018-12-20
1         2018-12-19
2         2018-12-19
3         2018-12-19
4         2018-12-19
             ...
368922    2018-12-17
368923    2018-12-17
368924    2018-12-17
368925    2018-12-17
368926    2018-12-17
Name: timestamp, Length: 368927, dtype: object

In [12]:
df[timestamp > 11:00:00]

NameError: name 'timestamp' is not defined

In [13]:
df['timestamp' > 11:00:00]

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
df['timestamp'.int() > 11:00:00]

AttributeError: 'str' object has no attribute 'int'

In [15]:
def su(x,y):
    return x-y

In [39]:
ex = datetime.datetime.strptime('11:30AM', '%I:%M%p') 
print(ex.time()) 
new_day = datetime.datetime.strptime('12:00AM', '%I:%M%p')  
print(new_day.time())  
new_day2 = datetime.datetime.strptime('12:15AM', '%I:%M%p')

11:30:00
00:00:00

In [17]:
df['timestamp'].dt.date

0         2018-12-20
1         2018-12-19
2         2018-12-19
3         2018-12-19
4         2018-12-19
             ...
368922    2018-12-17
368923    2018-12-17
368924    2018-12-17
368925    2018-12-17
368926    2018-12-17
Name: timestamp, Length: 368927, dtype: object

In [18]:
df['delivery_start'] = pd.to_datetime(df['delivery_start']) 
df['delivery_start'].dt.date

0         2018-12-20
1         2018-12-20
2         2018-12-20
3         2018-12-20
4         2018-12-20
             ...
368922    2018-12-25
368923    2018-12-25
368924    2018-12-25
368925    2018-12-25
368926    2018-12-25
Name: delivery_start, Length: 368927, dtype: object

In [19]:
remove = ['delivery_start','timestamp','wind forecast in MW'] 
val = pd.DataFrame()
val = su(df['delivery_start'].dt.date ,df['timestamp'].dt.date) 
print(val)

0        0 days
1        1 days
2        1 days
3        1 days
4        1 days
          ...
368922   8 days
368923   8 days
368924   8 days
368925   8 days
368926   8 days
Length: 368927, dtype: timedelta64[ns]

In [20]:
%%time
condition1 = ((df['delivery_start'].dt.date - df['timestamp'].dt.date) == '1 days') & (df['timestamp'].dt.time >= ex.time())   
condition2 = ((df['delivery_start'].dt.date - df['timestamp'].dt.date) == '0 days')

CPU times: user 951 ms, sys: 15.4 ms, total: 967 ms
Wall time: 965 ms

In [21]:
%%time
df = df[condition1|condition2]  
df.head(200)

CPU times: user 8.96 ms, sys: 6.23 ms, total: 15.2 ms
Wall time: 12.6 ms

          delivery_start           timestamp  wind forecast in MW
0    2018-12-20 00:00:00 2018-12-20 00:00:00                12815
1    2018-12-20 00:00:00 2018-12-19 23:45:00                12629
2    2018-12-20 00:00:00 2018-12-19 23:30:00                12546
3    2018-12-20 00:00:00 2018-12-19 23:15:00                12654
4    2018-12-20 00:00:00 2018-12-19 23:00:00                12741
...                  ...                 ...                  ...
2343 2018-12-20 00:45:00 2018-12-19 14:00:00                12804
2344 2018-12-20 00:45:00 2018-12-19 13:45:00                12807
2345 2018-12-20 00:45:00 2018-12-19 13:30:00                12872
2346 2018-12-20 00:45:00 2018-12-19 13:15:00                12815
2347 2018-12-20 00:45:00 2018-12-19 13:00:00                12881

[200 rows x 3 columns]

In [22]:
df.to_csv("./new.csv")

In [59]:
def conv(x,y,z):  
    if x.time() == ex.time():
        empty_dict[str()] = z

In [60]:
%%time 
df.apply(lambda x: conv(x['timestamp'],x['delivery_start'],x['wind forecast in MW']), axis=1)

CPU times: user 492 ms, sys: 5.26 ms, total: 497 ms
Wall time: 496 ms

0         None
1         None
2         None
3         None
4         None
          ...
368206    None
368207    None
368208    None
368209    None
368210    None
Length: 47235, dtype: object

In [61]:
print(empty_dict)

{'2018-12-19': 24078, '2018-12-20': 24078, '2018-12-21': 32517, '2018-12-22': 20828, '2018-12-23': 7937, '2018-12-24': 17634, '2018-12-25': 18459, '00:00:00': 18459, '00:15:00': 12279, '00:30:00': 12467, '00:45:00': 12641, '01:00:00': 12818, '01:15:00': 12848, '01:30:00': 12875, '01:45:00': 12903, '02:00:00': 13154, '02:15:00': 13241, '02:30:00': 13325, '02:45:00': 13397, '03:00:00': 13462, '03:15:00': 13605, '03:30:00': 13752, '03:45:00': 13897, '04:00:00': 14034, '04:15:00': 14040, '04:30:00': 14049, '04:45:00': 14051, '05:00:00': 14058, '05:15:00': 13963, '05:30:00': 13866, '05:45:00': 13745, '06:00:00': 13765, '06:15:00': 13596, '06:30:00': 13425, '06:45:00': 13260, '07:00:00': 13100, '07:15:00': 12863, '07:30:00': 12619, '07:45:00': 12364, '08:00:00': 12104, '08:15:00': 11823, '08:30:00': 11545, '08:45:00': 11288, '09:00:00': 11028, '09:15:00': 10828, '09:30:00': 10616, '09:45:00': 10400, '10:00:00': 10182, '10:15:00': 10173, '10:30:00': 10166, '10:45:00': 10168, '11:00:00': 10173, '11:15:00': 10242, '11:30:00': 10313, '11:45:00': 10384, '12:00:00': 10451, '12:15:00': 10532, '12:30:00': 10611, '12:45:00': 10700, '13:00:00': 10788, '13:15:00': 10803, '13:30:00': 10822, '13:45:00': 10839, '14:00:00': 10851, '14:15:00': 10846, '14:30:00': 10839, '14:45:00': 10827, '15:00:00': 10816, '15:15:00': 10893, '15:30:00': 10958, '15:45:00': 11024, '16:00:00': 11087, '16:15:00': 11291, '16:30:00': 11507, '16:45:00': 11739, '17:00:00': 11932, '17:15:00': 12175, '17:30:00': 12420, '17:45:00': 12674, '18:00:00': 12931, '18:15:00': 13173, '18:30:00': 13422, '18:45:00': 13677, '19:00:00': 13929, '19:15:00': 14145, '19:30:00': 14359, '19:45:00': 14548, '20:00:00': 14740, '20:15:00': 14971, '20:30:00': 15199, '20:45:00': 15423, '21:00:00': 15644, '21:15:00': 15885, '21:30:00': 16124, '21:45:00': 16369, '22:00:00': 16424, '22:15:00': 16615, '22:30:00': 16798, '22:45:00': 16967, '23:00:00': 17138, '23:15:00': 17300, '23:30:00': 17466, '23:45:00': 17634}

In [26]:
subtracted_date = df['delivery_start'].dt.date- timedelta(1)
subtracted_date = subtracted_date.strftime("%Y-%m-%d")
print(subtracted_date)

AttributeError: 'Series' object has no attribute 'strftime'

In [27]:
def cal(x,y,z):  
            sub_date = x - timedelta(1)  
            final_val = z - empty_dict[str(sub_date.date())] 
            return int(final_val)

In [408]:
data = df['delivery_start',].apply(cal,args=())

KeyError: ('delivery_start',)

In [28]:
%%time
df["ID Position"] = df.apply(lambda x: cal(x['delivery_start'], x['timestamp'], x['wind forecast in MW']), axis=1)

CPU times: user 593 ms, sys: 6.76 ms, total: 600 ms
Wall time: 599 ms

In [46]:
print(empty_dict)

{'2018-12-19': 24078, '2018-12-20': 32517, '2018-12-21': 20828, '2018-12-22': 7937, '2018-12-23': 17634, '2018-12-24': 18459}

In [52]:
df.head(50)

   delivery_start           timestamp  wind forecast in MW  ID Position
0      2018-12-20 2018-12-20 00:00:00                12815       -11263
1      2018-12-20 2018-12-19 23:45:00                12629       -11449
2      2018-12-20 2018-12-19 23:30:00                12546       -11532
3      2018-12-20 2018-12-19 23:15:00                12654       -11424
4      2018-12-20 2018-12-19 23:00:00                12741       -11337
5      2018-12-20 2018-12-19 22:45:00                12724       -11354
6      2018-12-20 2018-12-19 22:30:00                12704       -11374
7      2018-12-20 2018-12-19 22:15:00                12766       -11312
8      2018-12-20 2018-12-19 22:00:00                12807       -11271
9      2018-12-20 2018-12-19 21:45:00                12684       -11394
10     2018-12-20 2018-12-19 21:30:00                12643       -11435
11     2018-12-20 2018-12-19 21:15:00                12627       -11451
12     2018-12-20 2018-12-19 21:00:00                12622       -11456
13     2018-12-20 2018-12-19 20:30:00                12543       -11535
14     2018-12-20 2018-12-19 20:15:00                12613       -11465
15     2018-12-20 2018-12-19 20:00:00                12559       -11519
16     2018-12-20 2018-12-19 19:45:00                12474       -11604
17     2018-12-20 2018-12-19 19:30:00                12732       -11346
18     2018-12-20 2018-12-19 19:15:00                12679       -11399
19     2018-12-20 2018-12-19 19:00:00                12621       -11457
20     2018-12-20 2018-12-19 18:45:00                12739       -11339
21     2018-12-20 2018-12-19 18:30:00                12738       -11340
22     2018-12-20 2018-12-19 18:15:00                12743       -11335
23     2018-12-20 2018-12-19 18:00:00                12727       -11351
24     2018-12-20 2018-12-19 17:45:00                12737       -11341
25     2018-12-20 2018-12-19 17:30:00                12805       -11273
26     2018-12-20 2018-12-19 17:15:00                12897       -11181
27     2018-12-20 2018-12-19 17:00:00                12908       -11170
28     2018-12-20 2018-12-19 16:45:00                12931       -11147
29     2018-12-20 2018-12-19 16:30:00                12974       -11104
30     2018-12-20 2018-12-19 16:15:00                13010       -11068
31     2018-12-20 2018-12-19 16:00:00                13034       -11044
32     2018-12-20 2018-12-19 15:45:00                13124       -10954
33     2018-12-20 2018-12-19 15:30:00                13078       -11000
34     2018-12-20 2018-12-19 15:15:00                13156       -10922
35     2018-12-20 2018-12-19 15:00:00                13100       -10978
36     2018-12-20 2018-12-19 14:45:00                13102       -10976
37     2018-12-20 2018-12-19 14:30:00                13100       -10978
38     2018-12-20 2018-12-19 14:15:00                13099       -10979
39     2018-12-20 2018-12-19 14:00:00                13105       -10973
40     2018-12-20 2018-12-19 13:45:00                13111       -10967
41     2018-12-20 2018-12-19 13:30:00                13182       -10896
42     2018-12-20 2018-12-19 13:15:00                13124       -10954
43     2018-12-20 2018-12-19 13:00:00                13197       -10881
44     2018-12-20 2018-12-19 12:45:00                13194       -10884
45     2018-12-20 2018-12-19 12:30:00                13272       -10806
46     2018-12-20 2018-12-19 12:15:00                13249       -10829
47     2018-12-20 2018-12-19 12:00:00                13314       -10764
48     2018-12-20 2018-12-19 11:45:00                13322       -10756
49     2018-12-20 2018-12-19 11:30:00                13328       -10750

In [432]:
df

       delivery_start           timestamp  wind forecast in MW  ID Position
0          2018-12-20 2018-12-20 00:00:00                12815       -11263
1          2018-12-20 2018-12-19 23:45:00                12629       -11449
2          2018-12-20 2018-12-19 23:30:00                12546       -11532
3          2018-12-20 2018-12-19 23:15:00                12654       -11424
4          2018-12-20 2018-12-19 23:00:00                12741       -11337
...               ...                 ...                  ...          ...
368206     2018-12-25 2018-12-24 12:30:00                18217         -242
368207     2018-12-25 2018-12-24 12:15:00                18269         -190
368208     2018-12-25 2018-12-24 12:00:00                18382          -77
368209     2018-12-25 2018-12-24 11:45:00                18458           -1
368210     2018-12-25 2018-12-24 11:30:00                18459            0

[47235 rows x 4 columns]

In [433]:
df.to_csv("./newdata.csv")

In [2]:
def change(x,y): 
    print("no")

In [3]:
print("row")

row

In [77]:
def con(x,y,z):  #conv function adds wind power forecast at 11:30 for every delivery date
    if x.time() == ex.time() and x.date != y.date():   
        empty_dict[str(y.time())] = my_List.append((z,str(x.date()),str(x.time())))

In [78]:
df.apply(lambda x: con(x['timestamp'],x['delivery_start'],x['wind forecast in MW']), axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
368206    None
368207    None
368208    None
368209    None
368210    None
Length: 47235, dtype: object

In [79]:
print(empty_dict)

{'00:00:00': (18459, '2018-12-24', '11:30:00'), '00:15:00': (12279, '2018-12-23', '11:30:00'), '00:30:00': (12467, '2018-12-23', '11:30:00'), '00:45:00': (12641, '2018-12-23', '11:30:00'), '01:00:00': (12818, '2018-12-23', '11:30:00'), '01:15:00': (12848, '2018-12-23', '11:30:00'), '01:30:00': (12875, '2018-12-23', '11:30:00'), '01:45:00': (12903, '2018-12-23', '11:30:00'), '02:00:00': (13154, '2018-12-23', '11:30:00'), '02:15:00': (13241, '2018-12-23', '11:30:00'), '02:30:00': (13325, '2018-12-23', '11:30:00'), '02:45:00': (13397, '2018-12-23', '11:30:00'), '03:00:00': (13462, '2018-12-23', '11:30:00'), '03:15:00': (13605, '2018-12-23', '11:30:00'), '03:30:00': (13752, '2018-12-23', '11:30:00'), '03:45:00': (13897, '2018-12-23', '11:30:00'), '04:00:00': (14034, '2018-12-23', '11:30:00'), '04:15:00': (14040, '2018-12-23', '11:30:00'), '04:30:00': (14049, '2018-12-23', '11:30:00'), '04:45:00': (14051, '2018-12-23', '11:30:00'), '05:00:00': (14058, '2018-12-23', '11:30:00'), '05:15:00': (13963, '2018-12-23', '11:30:00'), '05:30:00': (13866, '2018-12-23', '11:30:00'), '05:45:00': (13745, '2018-12-23', '11:30:00'), '06:00:00': (13765, '2018-12-23', '11:30:00'), '06:15:00': (13596, '2018-12-23', '11:30:00'), '06:30:00': (13425, '2018-12-23', '11:30:00'), '06:45:00': (13260, '2018-12-23', '11:30:00'), '07:00:00': (13100, '2018-12-23', '11:30:00'), '07:15:00': (12863, '2018-12-23', '11:30:00'), '07:30:00': (12619, '2018-12-23', '11:30:00'), '07:45:00': (12364, '2018-12-23', '11:30:00'), '08:00:00': (12104, '2018-12-23', '11:30:00'), '08:15:00': (11823, '2018-12-23', '11:30:00'), '08:30:00': (11545, '2018-12-23', '11:30:00'), '08:45:00': (11288, '2018-12-23', '11:30:00'), '09:00:00': (11028, '2018-12-23', '11:30:00'), '09:15:00': (10828, '2018-12-23', '11:30:00'), '09:30:00': (10616, '2018-12-23', '11:30:00'), '09:45:00': (10400, '2018-12-23', '11:30:00'), '10:00:00': (10182, '2018-12-23', '11:30:00'), '10:15:00': (10173, '2018-12-23', '11:30:00'), '10:30:00': (10166, '2018-12-23', '11:30:00'), '10:45:00': (10168, '2018-12-23', '11:30:00'), '11:00:00': (10173, '2018-12-23', '11:30:00'), '11:15:00': (10242, '2018-12-23', '11:30:00'), '11:30:00': (10313, '2018-12-23', '11:30:00'), '11:45:00': (10384, '2018-12-23', '11:30:00'), '12:00:00': (10451, '2018-12-23', '11:30:00'), '12:15:00': (10532, '2018-12-23', '11:30:00'), '12:30:00': (10611, '2018-12-23', '11:30:00'), '12:45:00': (10700, '2018-12-23', '11:30:00'), '13:00:00': (10788, '2018-12-23', '11:30:00'), '13:15:00': (10803, '2018-12-23', '11:30:00'), '13:30:00': (10822, '2018-12-23', '11:30:00'), '13:45:00': (10839, '2018-12-23', '11:30:00'), '14:00:00': (10851, '2018-12-23', '11:30:00'), '14:15:00': (10846, '2018-12-23', '11:30:00'), '14:30:00': (10839, '2018-12-23', '11:30:00'), '14:45:00': (10827, '2018-12-23', '11:30:00'), '15:00:00': (10816, '2018-12-23', '11:30:00'), '15:15:00': (10893, '2018-12-23', '11:30:00'), '15:30:00': (10958, '2018-12-23', '11:30:00'), '15:45:00': (11024, '2018-12-23', '11:30:00'), '16:00:00': (11087, '2018-12-23', '11:30:00'), '16:15:00': (11291, '2018-12-23', '11:30:00'), '16:30:00': (11507, '2018-12-23', '11:30:00'), '16:45:00': (11739, '2018-12-23', '11:30:00'), '17:00:00': (11932, '2018-12-23', '11:30:00'), '17:15:00': (12175, '2018-12-23', '11:30:00'), '17:30:00': (12420, '2018-12-23', '11:30:00'), '17:45:00': (12674, '2018-12-23', '11:30:00'), '18:00:00': (12931, '2018-12-23', '11:30:00'), '18:15:00': (13173, '2018-12-23', '11:30:00'), '18:30:00': (13422, '2018-12-23', '11:30:00'), '18:45:00': (13677, '2018-12-23', '11:30:00'), '19:00:00': (13929, '2018-12-23', '11:30:00'), '19:15:00': (14145, '2018-12-23', '11:30:00'), '19:30:00': (14359, '2018-12-23', '11:30:00'), '19:45:00': (14548, '2018-12-23', '11:30:00'), '20:00:00': (14740, '2018-12-23', '11:30:00'), '20:15:00': (14971, '2018-12-23', '11:30:00'), '20:30:00': (15199, '2018-12-23', '11:30:00'), '20:45:00': (15423, '2018-12-23', '11:30:00'), '21:00:00': (15644, '2018-12-23', '11:30:00'), '21:15:00': (15885, '2018-12-23', '11:30:00'), '21:30:00': (16124, '2018-12-23', '11:30:00'), '21:45:00': (16369, '2018-12-23', '11:30:00'), '22:00:00': (16424, '2018-12-23', '11:30:00'), '22:15:00': (16615, '2018-12-23', '11:30:00'), '22:30:00': (16798, '2018-12-23', '11:30:00'), '22:45:00': (16967, '2018-12-23', '11:30:00'), '23:00:00': (17138, '2018-12-23', '11:30:00'), '23:15:00': (17300, '2018-12-23', '11:30:00'), '23:30:00': (17466, '2018-12-23', '11:30:00'), '23:45:00': (17634, '2018-12-23', '11:30:00')}

In [80]:
df.tail()

       delivery_start           timestamp  wind forecast in MW  ID Position
368206     2018-12-25 2018-12-24 12:30:00                18217         -242
368207     2018-12-25 2018-12-24 12:15:00                18269         -190
368208     2018-12-25 2018-12-24 12:00:00                18382          -77
368209     2018-12-25 2018-12-24 11:45:00                18458           -1
368210     2018-12-25 2018-12-24 11:30:00                18459            0